<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="paper-icon-refresh">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `paper-icon-refresh`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PaperIconRefresh extends Polymer.Element {
      static get is() { return 'paper-icon-refresh'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'paper-icon-refresh'
          }
        };
      }
    }

    window.customElements.define(PaperIconRefresh.is, PaperIconRefresh);
  </script>
</dom-module>
